@page
@model StudentSystem.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Students</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.StudentNO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.StudentNO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.IdCardNO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.IdCardNO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.BornTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.BornTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.GradeNO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.GradeNO)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Students.StudentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
